<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Demonstrator</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Connect <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="openForm('ConnectWMSFormComponent')">WMS</a></li>
            <li><a (click)="openForm('ConnectWfsComponent')">WFS</a></li>
            <li><a (click)="openForm('ConnectHxdrComponent')">HxDR</a></li>
            <li><a (click)="openForm('ConnectTmsComponent')">TMS</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="openForm('ConnectGeojsonComponent')">GeoJSON URL</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="openForm('ConnectTiles3dComponent')">OGC 3D Tiles</a></li>
            <li><a (click)="openForm('ConnectHspcComponent')">HSPC</a></li>
            <li><a (click)="openForm('ConnectPanoramicsComponent')">Panoramics</a></li>
            <li><a (click)="openForm('ConnectCustomPanoramicsComponent')">Custom Panoramics</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="openForm('ConnectLtsComponent')">LTS</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="openForm('ConnectLayergroupComponent')">Layer group</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="openForm('ConnectAnnotationComponent')">Port Assets</a></li>
            <li><a (click)="openForm('OpenHxDRLayerByIdComponent')">POI</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bingmaps <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="createBingmap('Aerial')">Satellite</a></li>
            <li><a (click)="createBingmap('Road')">Roads</a></li>
            <li><a (click)="createBingmap('AerialWithLabels')">Hybrid</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="openForm('LightningSettingsComponent')">Lightning</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" (submit)="executeSearch()">
        <div class="input-group dropdown" [ngClass]="{'open': activeSearch}">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchLocation" name="searchLocation">
          </div>
          <button type="button" class="btn btn-default" (click)="executeSearch()">
            <fa-icon [icon]="['fas', 'globe']" ></fa-icon>
          </button>
          <div class="dropdown-menu" role="menu" style="width: 100%;">
            <div>
                <ul>
                  <li *ngFor="let match of matches" >
                    <div (click)="goToMatch(match)" class="search-match">
                      <span>{{match.name}}</span>
                    </div>
                  </li>
                </ul>
            </div>
          </div>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Session <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
