<div class="side-bar-left">
  <button (click)="addWMS()">Add WMS</button>
  <button (click)="addMesh()">Add Mesh</button>
  <button (click)="addPointCloud()">Add Point Cloud</button>
  <br>
  <button (click)="addFiles()">Add files</button>

  <br>
  <button (click)="setFilter()">Filter</button>
  <button (click)="clearFilter()">CelarFilter</button>

  <br>
  <button (click)="deleteAll()">Delete All</button>

  <br>
  <button (click)="addOne()">Add One</button>
  <button (click)="deleteOne()">Delete One</button>


</div>
