<form (submit)="openCurrent($event)">
  <label class="label-for-box">Select project:</label>
  <div class="projects-box">
    <ul *ngIf="failedToConnect">
      <li>Cannot connect to HxDR...</li>
    </ul>
    <ul *ngIf="!failedToConnect">
      <li *ngIf="loading">
        <fa-icon [icon]="['fas', 'spinner']" />
        Loading...
      </li>
      <ng-container *ngIf="!loading">
        <li *ngFor="let project of projects | paginate
              : {
                  itemsPerPage: pageSize,
                  currentPage: pagination,
                  totalItems: allProjects
                }" (click)="setCurrent(project)"
            [class]="currentProject.length>0 && currentProject[0].id===project.id ? 'active' : ''" >
          <div class="project-entry">
            {{project.name}}
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
  <pagination-controls class="my-pagination"
                       (pageChange)="renderPage($event)"
  ></pagination-controls>

  <label *ngIf="currentProject.length>0">Select folder:</label>
  <div *ngFor="let p of currentProject" class="folders-box">
    <ul>
      <app-hxdr-project-folder [folderId]="p.rootFolder.id" folderName="root" [currentAsset]="currentAsset"
                               (setCurrentAsset)="setCurrentAsset($event)"
                               (openAsset)="openAsset($event)"
      />
    </ul>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" name="offsetTerrain" [(ngModel)]="offsetTerrain" id="offsetTerrain-checkbox-id">
    <label class="form-check-label" for="offsetTerrain-checkbox-id">
      Offset Terrain
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" name="isDrapeTarget" [(ngModel)]="isDrapeTarget" id="isDrapeTarget-checkbox-id">
    <label class="form-check-label" for="autoZoom-checkbox-id">
      Can drape
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" name="autoZoom" [(ngModel)]="autoZoom" id="autoZoom-checkbox-id">
    <label class="form-check-label" for="autoZoom-checkbox-id">
      Auto-zoom
    </label>
  </div>
  <div class="align-right-buttons">
    <button class="btn btn-primary" type="submit">Add Layer</button>
  </div>
</form>
